:root {
    --primary-color: #363d7c;
    --secondary-color: #144f58;
    --hovered-color: rgb(218, 7, 169);
    --font-family-lobster: 'lobster', cursive;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    background-color: white;
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px; 
}
.btnHeader {
    border: none;
    background-color: white;
    font-family: var(--font-family-lobster);
    color: var(--primary-color);
    
 }

 .btnHeader:hover {
    background-color: var(--hovered-color);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    transition: 4ms;
    color: white;
 }
